<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Book Recommender System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body class="index-page">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="index.html">Book Recommender System</a></h1>
        </header>

        <!-- Banner Section -->
        <section id="banner">
            <div class="inner">
                <h2>Your Journey to the Next Chapter</h2>
                <p>Discover your next favorite book with our LDA and BERT engines.</p>
                <div class="actions special">
                  <a href="/lda" class="cta-button">LDA Recommender</a>
                  <a href="/bert" class="cta-button">BERT Recommender</a>
                </div>
            </div>
        </section>

    </div>

</body>
</html>
